---
BasedOnStyle: Mozilla

---
Language: Cpp

# Avoid excessive linebreaks on function definitions
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None

IndentWidth: 4
DerivePointerAlignment: false
---
