---

Checks: >
    bugprone-*,
    cppcoreguidelines-*,
    concurrency-*,
    misc-*,
    modernize-*,
    readability-*,
    -cppcoreguidelines-pro-*,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-type-vararg,
    -readability-magic-numbers,
    -modernize-use-trailing-return-type,
    -readability-identifier-naming
