---

Checks: >
    clang-analyzer-*,
    -clang-diagnostic-unknown-attributes,
    -clang-diagnostic-return-type
    modernize-*,
    -modernize-use-trailing-return-type,
    readability-*,
    -readability-magic-numbers

