# CLion
cmake-build-debug
cmake-build-release

# Builds
lambda_faasm_build
**/build/*
**/build

# Pyodide
pyodide/emsdk/**/*
pyodide/emsdk
pyodide/venv/**/*
pyodide/venv

# Misc project files
assemblyscript
docker
docs
k8s
native_build
node_modules
toolchain/install
venv
wasm

# Submodules
gem3-mapper
libpng
llvm-project
onnxjs
onnxruntime
zlib
