[submodule "WAVM"]
    path = WAVM
    url = git@github.com:Shillaker/WAVM.git
[submodule "pyodide"]
	path = pyodide
	url = git@github.com:Shillaker/pyodide
[submodule "musl"]
	path = musl
	url = git@github.com:Shillaker/musl
