# Faasm
dev/
perf/
work/
download/
container/
build/
ninja-build/
faasm.ini
perf.data
perf.data.*

# Ignore the top-level wasm directory (note the leading slash)
/wasm/

# Clang
.clangd
compile_commands.json

# SPEC
third-party/spec_cpu/

# Ansible
*.retry

# Node
node_modules/

# Assembly
*.asm

# Vim
*.swp

# C

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# C++

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
__pycache__/
*.pyc
venv/
*.egg-info/

# Kubernetes
.kube/

# Benchmark outputs
*.ppm

# generated EDL file
src/sgx/faasm_sgx_enclave.edl
