version: "3"

services:
  redis-state:
    image: faasm/redis:${FAASM_VERSION}

  redis-queue:
    image: faasm/redis:${FAASM_VERSION}

  minio:
    image: minio/minio
    command: server /data/minio
    ports:
      - "9000:9000"
    volumes:
      - ./dev/minio/data:/data/minio

  upload:
    image: faasm/upload:${FAASM_VERSION}
    ports:
      - "8002:8002"
    depends_on:
      - redis-queue
      - redis-state
      - minio
    volumes:
      - ./dev/faasm/build/:${FAASM_BUILD_MOUNT}
      - ./dev/wasm/:/usr/local/code/faasm/wasm/
      - ./dev/container/machine-code/:/usr/local/faasm/object/
      - ./dev/container/shared_store/:/usr/local/faasm/shared_store/
    environment:
      - FUNCTION_STORAGE=local
      - LOG_LEVEL=info
      - PYTHON_CODEGEN=off
      - REDIS_QUEUE_HOST=redis-queue
      - REDIS_STATE_HOST=redis-state
      - LD_LIBRARY_PATH=/build/faasm/third-party/lib:/usr/local/lib

  worker:
    image: faasm/worker:${FAASM_VERSION}
    depends_on:
      - upload
    expose:
      - "8080"
    privileged: yes
    volumes:
      - ./dev/faasm/build/:${FAASM_BUILD_MOUNT}
    environment:
      - CAPTURE_STDOUT=on
      - CGROUP_MODE=on
      - FILESERVER_URL=http://${UPLOAD_HOST:-upload}:8002
      - FUNCTION_STORAGE=fileserver
      - GLOBAL_MESSAGE_TIMEOUT=600000
      - LOG_LEVEL=info
      - NETNS_MODE=off
      - REDIS_QUEUE_HOST=redis-queue
      - REDIS_STATE_HOST=redis-state
      - LD_LIBRARY_PATH=/build/faasm/third-party/lib:/usr/local/lib

  nginx:
    image: nginx:latest
    volumes:
      - ./deploy/conf/nginx-local.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - worker
    ports:
      - "8080:8080"

  faasm-cli:
    image: ${FAASM_CLI_IMAGE}
    working_dir: /usr/local/code/faasm
    stdin_open: true
    tty: true
    privileged: true
    depends_on:
      - worker
    environment:
      - UPLOAD_HOST=${UPLOAD_HOST:-upload}
      - INVOKE_HOST=${INVOKE_HOST:-nginx}
      - LOG_LEVEL=debug
      - REDIS_QUEUE_HOST=redis-queue
      - REDIS_STATE_HOST=redis-state
      - LD_LIBRARY_PATH=/build/faasm/third-party/lib:/usr/local/lib
    volumes:
      - ./:/usr/local/code/faasm/
      - ./dev/faasm/build/:/build/faasm/
      - ./dev/faasm-local:/usr/local/faasm
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker

  cpp:
    image: ${CPP_CLI_IMAGE}
    working_dir: /code/cpp
    stdin_open: true
    tty: true
    privileged: true
    depends_on:
      - worker
    volumes:
      - ./clients/cpp:/code/cpp
      - ./dev/cpp/build:/build/cpp
