version: "3"

networks:
  faasm:

services:
  redis-state:
    image: redis:5
    ports:
      - "6378:6379"
    networks:
      - faasm

  redis-queue:
    image: redis:5
    ports:
      - "6377:6379"
    networks:
      - faasm

  worker:
    image: faasm/worker:latest

    depends_on:
      - redis-queue
      - redis-state
    environment:
      - REDIS_STATE_HOST=redis-state
      - REDIS_QUEUE_HOST=redis-queue
      - REDIS_PORT=6379
      - FUNC_ROOT=/usr/share/faasm
      - CGROUP_MODE=on
      - NETNS_MODE=on
      - LOG_LEVEL=debug
      - PREWARM_TARGET=20
      - MAX_QUEUE_RATIO=1
      - MAX_WORKERS_PER_FUNCTION=30
      - BOUND_TIMEOUT=30
      - UNBOUND_TIMEOUT=240
      - STATE_STALE_THRESHOLD=500
      - STATE_CLEAR_THRESHOLD=300000
      - STATE_PUSH_INTERVAL=500
      - FULL_ASYNC=0
      - AFFINITY=0
    volumes:
      - ./wasm:/usr/share/faasm/wasm
    networks:
      - faasm
    privileged: yes

  edge:
    image: faasm/edge:latest
    ports:
      - "8001:8001"
    environment:
      - REDIS_STATE_HOST=redis-state
      - REDIS_QUEUE_HOST=redis-queue
      - REDIS_PORT=6379
      - FUNC_ROOT=/usr/share/faasm
      - LOG_LEVEL=debug
      - PREWARM_TARGET=20
      - MAX_QUEUE_RATIO=1
      - MAX_WORKERS_PER_FUNCTION=100
      - BOUND_TIMEOUT=30
      - UNBOUND_TIMEOUT=240
      - AFFINITY=0
    volumes:
      - ./wasm:/usr/share/faasm/wasm
    depends_on:
      - redis-queue
      - redis-state
      - worker
    networks:
      - faasm

  upload:
    image: faasm/upload:latest
    ports:
      - "8002:8002"
    environment:
      - REDIS_STATE_HOST=redis-state
      - REDIS_QUEUE_HOST=redis-queue
      - REDIS_PORT=6379
      - FUNC_ROOT=/usr/share/faasm
    volumes:
      - ./wasm:/usr/share/faasm/wasm
    depends_on:
      - redis-queue
      - redis-state
    networks:
      - faasm
