version: "3"

services:
  redis-state:
    image: faasm/redis

  redis-queue:
    image: faasm/redis

  upload:
    image: faasm/upload:latest
    ports:
      - "8002:8002"
    depends_on:
      - redis-queue
      - redis-state
    volumes:
      - /usr/local/faasm/:/usr/local/faasm/
      - /usr/local/code/faasm/wasm/:/usr/local/code/faasm/wasm/
    environment:
      - FUNCTION_STORAGE=fileserver
      - LOG_LEVEL=debug
      - REDIS_STATE_HOST=redis-state
      - REDIS_QUEUE_HOST=redis-queue

  worker-1:
    image: faasm/knative-worker:latest
    depends_on:
      - upload
    ports:
      - 8080
    privileged: yes
    volumes:
      - /usr/local/faasm/:/usr/local/faasm/
      - /usr/local/code/faasm/wasm/:/usr/local/code/faasm/wasm/
    environment:
      - FUNCTION_STORAGE=fileserver
      - FILESERVER_URL=http://upload:8002
      - LOG_LEVEL=debug
      - CGROUP_MODE=on
      - NETNS_MODE=off
      - REDIS_STATE_HOST=redis-state
      - REDIS_QUEUE_HOST=redis-queue
      - THREADS_PER_WORKER=5
      - MAX_IN_FLIGHT_RATIO=1
      - MAX_WORKERS_PER_FUNCTION=4
      - GLOBAL_MESSAGE_TIMEOUT=600000

  worker-2:
    image: faasm/knative-worker:latest
    depends_on:
      - upload
    ports:
      - 8080
    privileged: yes
    volumes:
      - /usr/local/faasm/:/usr/local/faasm/
      - /usr/local/code/faasm/wasm/:/usr/local/code/faasm/wasm/
    environment:
      - FUNCTION_STORAGE=fileserver
      - FILESERVER_URL=http://upload:8002
      - LOG_LEVEL=debug
      - CGROUP_MODE=on
      - NETNS_MODE=off
      - REDIS_STATE_HOST=redis-state
      - REDIS_QUEUE_HOST=redis-queue
      - THREADS_PER_WORKER=5
      - MAX_IN_FLIGHT_RATIO=1
      - MAX_WORKERS_PER_FUNCTION=4
      - GLOBAL_MESSAGE_TIMEOUT=600000

  proxy:
    build:
      context: .
      dockerfile: docker/local-proxy.dockerfile
    depends_on:
      - worker-1
      - worker-2
    ports:
      - "8080:8080"