version: "3"

networks:
  faasm:

services:
  redis-state:
    image: redis:5
    ports:
      - "6378:6379"
    networks:
      - faasm

  redis-queue:
    image: redis:5
    ports:
      - "6377:6379"
    networks:
      - faasm

  worker:
    image: faasm/worker:latest
    depends_on:
      - redis-queue
      - redis-state
    env_file:
      - docker-compose.env
    networks:
      - faasm
    privileged: yes

  edge:
    image: faasm/edge:latest
    ports:
      - "8001:8001"
    depends_on:
      - redis-queue
      - redis-state
      - worker
    env_file:
      - docker-compose.env
    networks:
      - faasm

  upload:
    image: faasm/upload:latest
    ports:
      - "8002:8002"
    depends_on:
      - redis-queue
      - redis-state
    env_file:
      - docker-compose.env
    networks:
      - faasm
