ansible
awscli
botocore
boto
boto3
configparser
cryptography
dulwich
flask
genshi
hiredis
ibm-cos-sdk
invoke
matplotlib
numpy
performance
psutil
# Explicitly don't put pyfaasm here, install separately
PyOpenSSL
pywren-ibm-cloud
redis
requests
wheel
