black==22.3.0
breathe==4.32.0
docker==5.0.0
faasmctl==0.21.1
flake8==3.9.2
gunicorn==20.1.0
invoke>=2.0.0
myst-parser==0.17.2
numpy==1.22.0
packaging>=21.3
pydot==1.4.2
psutil==5.9.3
PyGithub==1.55
redis==4.5.4
six==1.16.0
sphinx-rtd-theme==1.0.0
