---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: faasm-worker
  namespace: faasm
  labels:
    app: faasm
spec:
  selector:
    matchLabels:
      run: faasm-worker
  replicas: 2
  template:
    metadata:
      labels:
        run: faasm-worker
        role: worker
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: run
                      operator: In
                      values:
                      - faasm-worker
                topologyKey: kubernetes.io/hostname
              weight: 100

      containers:
        - image: faasm.azurecr.io/worker:0.14.0
          name: faasm-worker
          ports:
            - containerPort: 8080
          env:
            - name: REDIS_STATE_HOST
              value: "redis-state"
            - name: REDIS_QUEUE_HOST
              value: "redis-queue"
            - name: PLANNER_HOST
              value: "planner"
            - name: PLANNER_PORT
              value: "8081"
            - name: LOG_LEVEL
              value: "info"
            - name: CAPTURE_STDOUT
              value: "on"
            - name: CGROUP_MODE
              value: "off"
            - name: NETNS_MODE
              value: "off"
            - name: MAX_NET_NAMESPACES
              value: "100"
            - name: PYTHON_PRELOAD
              value: "off"
            - name: PYTHON_CODEGEN
              value: "off"
            - name: BOUND_TIMEOUT
              value: "600000"
            - name: GLOBAL_MESSAGE_TIMEOUT
              value: "700000"
            - name: ENDPOINT_INTERFACE
              value: "eth0"
            - name: WASM_VM
              value: "wavm"

---

apiVersion: v1
kind: Service
metadata:
  name: worker
  namespace: faasm
spec:
  ports:
    # Given that the planner and the worker are in different pods, we need to
    # list all the ports we use for RPCs. These are the function call port,
    # the PTP port, and the planner port (all in their sync and async versions).
    # See faabric/include/faabric/transport/common.h for the full list
    # Function Call Server
    - name: function-call-sync
      port: 8005
      targetPort: 8005
    - name: function-call-async
      port: 8006
      targetPort: 8006
    - name: ptp-async
      port: 8009
      targetPort: 8009
    - name: ptp-sync
      port: 8010
      targetPort: 8010
    - name: planner-sync
      port: 8011
      targetPort: 8011
    - name: planner-async
      port: 8012
      targetPort: 8012
  selector:
    role: worker
