---

- name: "Install system deps"
  become: yes
  apt:
    name:
      - cmake
      - git

- name: "Check out code"
  git:
    repo: "{{ hostvars[host]['remote-url'] | default('https://github.com/lsds/Faasm.git') }}"
    dest: "{{ ansible_env.HOME }}/faasm-bm"
    version: "{{ hostvars[host]['version'] | default('master') }}"
    update: yes

- name: "Set up local code directory"
  become: yes
  file:
    path: "/usr/local/code"
    state: directory

- name: "Create symbolic link to repo in local code directory"
  become: yes
  file:
    src: "{{ ansible_env.HOME }}/faasm-bm"
    dest: "/usr/local/code/faasm"
    state: link
    force: yes #unlinks other users
    owner: "{{ ansible_env.USER }}"
    group: "{{ ansible_env.USER }}"
    mode: 0755
