*.wasm
*.wast
*.o
*.symbols

bench.csv

# Include wasm files needed by tests
!demo/**/function.wasm
!errors/**/function.wasm
!mpi/**/function.wasm
!omp/**/function.wasm
!python/**/function.wasm
!rust/**/function.wasm
!sgd/**/function.wasm
!ts/**/function.wasm
