---

apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: faasm-worker
  namespace: faasm
spec:
  template:
    metadata:
      labels:
        app: faasm-worker
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app: faasm-worker
                topologyKey: kubernetes.io/hostname
              weight: 100

      containers:
        - image: faasm/worker-sgx:0.8.10
          # We need to add this resources field to make sure the SGX device is
          # available in the pods:
          # https://docs.microsoft.com/en-us/azure/confidential-computing/confidential-nodes-aks-overview#azure-device-plugin-for-intel-sgx-
          resources:
            limits:
              sgx.intel.com/epc: "10Mi"
            requests:
              sgx.intel.com/epc: "10Mi"
          env:
            - name: REDIS_STATE_HOST
              value: "redis-state"
            - name: REDIS_QUEUE_HOST
              value: "redis-queue"
            - name: LOG_LEVEL
              value: "info"
            - name: HOST_TYPE
              value: "knative"
            - name: CAPTURE_STDOUT
              value: "on"
            - name: CGROUP_MODE
              value: "off"
            - name: NETNS_MODE
              value: "off"
            - name: MAX_NET_NAMESPACES
              value: "100"
            - name: PYTHON_PRELOAD
              value: "off"
            - name: PYTHON_CODEGEN
              value: "off"
            - name: BOUND_TIMEOUT
              value: "30000"
            - name: BOUND_TIMEOUT
              value: "600000"
            - name: GLOBAL_MESSAGE_TIMEOUT
              value: "700000"
            - name: ENDPOINT_INTERFACE
              value: "eth0"
            - name: WASM_VM
              value: "sgx"
            - name: SGX_AESM_ADDR
              value: 1
            - name: AZ_ATTESTATION_PROVIDER_URL
              valie: "https://faasmattprov.eus2.attest.azure.net"

