black==22.3.0
breathe==4.32.0
configparser==5.0.2
cryptography==41.0.0
docker==5.0.0
faasmctl==0.3.9
flake8==3.9.2
gunicorn==20.1.0
hiredis==2.0.0
invoke>=2.0.0
myst-parser==0.17.2
Jinja2==3.0.3
matplotlib==3.3.4
networkx==2.5.1
numpy==1.22.0
packaging>=21.3
pydot==1.4.2
psutil==5.9.3
pyaes==1.6.1
PyGithub==1.55
pycairo==1.20.0
PyOpenSSL==20.0.1
redis==4.5.4
requests>=2.31.0
setuptools==65.5.1
sphinx-rtd-theme==1.0.0
wheel==0.38.1
