ansible
awscli
botocore
boto
boto3
configparser
cryptography
docker
dulwich
flake8
flask
genshi
gunicorn
hiredis
invoke
Jinja2
matplotlib
networkx
numpy
packaging
pydot
pyperformance
psutil
pyaes
PyGithub
pycairo
# Explicitly don't put pyfaasm here, install separately
PyOpenSSL
redis
requests
setuptools
wheel
