<EnclaveConfiguration>
  <ProdID>0</ProdID>
  <ISVSVN>0</ISVSVN>
  <StackMaxSize>0x100000</StackMaxSize>
  <StackMinSize>0x2000</StackMinSize>
  <!-- Very large max heap size of 4 GB -->
  <HeapMaxSize>0x100000000</HeapMaxSize>
  <HeapMinSize>0xF00000</HeapMinSize>
  <HeapInitSize>0xF00000</HeapInitSize>
  <!-- 256 MB Initial reserved memory -->
  <ReservedMemInitSize>0x10000000</ReservedMemInitSize>
  <!-- Ar most enclave can be 8 GB -->
  <ReservedMemMaxSize>0x200000000</ReservedMemMaxSize>
  <!-- Need to set this flag, otherwise mmap-ing new memory fails -->
  <ReservedMemExecutable>1</ReservedMemExecutable>
  <TCSNum>10</TCSNum>
  <TCSMaxNum>20</TCSMaxNum>
  <TCSMinPool>5</TCSMinPool>
  <TCSPolicy>1</TCSPolicy>
  <DisableDebug>0</DisableDebug>
  <MiscSelect>1</MiscSelect>
  <MiscMask>0</MiscMask>
</EnclaveConfiguration>
