<EnclaveConfiguration>
  <ProdID>0</ProdID>
  <ISVSVN>0</ISVSVN>

  <StackMinSize>0x2000</StackMinSize>
  <StackMaxSize>0x100000</StackMaxSize>

  <HeapMinSize>0x4000</HeapMinSize>
  <HeapInitSize>0x4000000</HeapInitSize>
  <!-- 3 GB max heap size -->
  <HeapMaxSize>0xC0000000</HeapMaxSize>

  <!-- In simulation mode we cannot use the v2 MM features, so we revert -->
  <!-- to an older config -->
  <ReservedMemMaxSize>0x1000000</ReservedMemMaxSize>
  <ReservedMemExecutable>1</ReservedMemExecutable>

  <!-- TCS Configuration -->
  <TCSNum>10</TCSNum>
  <TCSMaxNum>20</TCSMaxNum>
  <TCSMinPool>5</TCSMinPool>
  <TCSPolicy>1</TCSPolicy>

  <!-- Debug and Miscellaneous Configuration -->
  <DisableDebug>0</DisableDebug>

  <!-- Ensure it runs on SGXv1/2 platforms by setting MiscSelect -->
  <MiscSelect>0</MiscSelect>
  <MiscMask>1</MiscMask>
</EnclaveConfiguration>
