<EnclaveConfiguration>
  <ProdID>0</ProdID>
  <ISVSVN>0</ISVSVN>

  <!-- Stack Size Configuration -->
  <!-- 8 KB minimum stack size -->
  <StackMinSize>0x2000</StackMinSize>
  <!-- 1 MB max stack size -->
  <StackMaxSize>0x100000</StackMaxSize>

  <!-- Heap Size Configuration -->
  <!-- 1 MB min heap size -->
  <HeapMinSize>0x100000</HeapMinSize>
  <!-- 4 GB max heap size -->
  <HeapMaxSize>0x100000000</HeapMaxSize>

  <!-- 8 GB max (total) enclave size -->
  <ReservedMemMaxSize>0x200000000</ReservedMemMaxSize>
  <!-- Need to set this flag, otherwise mmap-ing new memory fails -->
  <ReservedMemExecutable>1</ReservedMemExecutable>

  <!-- TCS Configuration -->
  <TCSNum>10</TCSNum>
  <TCSMaxNum>20</TCSMaxNum>
  <TCSMinPool>5</TCSMinPool>
  <TCSPolicy>1</TCSPolicy>

  <!-- Debug and Miscellaneous Configuration -->
  <DisableDebug>0</DisableDebug>

  <!-- Ensure it runs only on SGXv2 platforms by setting MiscSelect -->
  <MiscSelect>1</MiscSelect>
  <MiscMask>0</MiscMask>
</EnclaveConfiguration>
