<EnclaveConfiguration>
  <ProdID>0</ProdID>
  <ISVSVN>0</ISVSVN>

  <StackMinSize>0x2000</StackMinSize>
  <StackMaxSize>0x100000</StackMaxSize>

  <HeapMinSize>0x4000</HeapMinSize>
  <HeapInitSize>0x4000</HeapInitSize>
  <!-- 3 GB max heap size -->
  <HeapMaxSize>0xC0000000</HeapMaxSize>

  <!-- ReservedMem feature is for legacy non-dynamic MM, so do not set it -->
  <!-- Instead, we need to set the memory region to dynamically allocate memory from -->
  <!-- We allow for the enclave to allocate at most 4 GB extra memory -->
  <UserRegionSize>0x100000000</UserRegionSize>

  <!-- TCS Configuration -->
  <TCSNum>10</TCSNum>
  <TCSMaxNum>20</TCSMaxNum>
  <TCSMinPool>5</TCSMinPool>
  <TCSPolicy>1</TCSPolicy>

  <!-- Debug and Miscellaneous Configuration -->
  <DisableDebug>0</DisableDebug>

  <!-- Ensure it runs _only_ on SGXv2 platforms by setting MiscSelect -->
  <MiscSelect>1</MiscSelect>
  <MiscMask>1</MiscMask>
</EnclaveConfiguration>
