# Templated by Ansible deployment process

[Faasm]
invoke_host = {{ hostvars[groups['edge'][0]].internal_host }}
invoke_port = 8080
upload_host = {{ hostvars[groups['upload'][0]].internal_host }}
upload_port = 8002
