upstream faasm {
    {% for worker_host in groups['worker'] %}
    server {{ hostvars[worker_host]['internal_host'] }}:8080;
    {% endfor %}
}

server {
    listen 8080;

    location / {
        proxy_pass http://faasm;
    }
}
