[program:faasm_worker]
command=/usr/local/code/faasm/build/bin/worker_knative
autostart=true
autorestart=true
stderr_logfile=/var/log/faasm_worker.log
stdout_logfile=/var/log/faasm_worker.log
user={{ ansible_env.USER }}
environment=LOG_LEVEL=debug,
  FUNCTION_STORAGE=fileserver,
  FILESERVER_URL="http://{{ groups['upload'][0] }}:8002",
  THREADS_PER_WORKER=12,
  MAX_IN_FLIGHT_RATIO=1,
  MAX_WORKERS_PER_FUNCTION=10,
  BOUND_TIMEOUT=60000,
  UNBOUND_TIMEOUT=600000,
  GLOBAL_MESSAGE_TIMEOUT=600000,
  CGROUP_MODE=on,
  NETNS_MODE=off,
  REDIS_STATE_HOST="{{ groups['redis'][0] }}",
  REDIS_QUEUE_HOST="{{ groups['redis'][0] }}",
  CAPTURE_STDOUT=on,
  ENDPOINT_INTERFACE=eth0,

