name: Release

# This file is very verbose, but things have to be split into separate jobs to
# allow them to run in parallel. There seems to be no way to share the Docker
# build context between jobs, so the Docker set-up has to be copied in each one.

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  clean:
    runs-on: ubuntu-latest
    steps:
      - name: "Prune docker"
        run: "docker system prune -f --all"

  build-dep-free-images:
    needs: clean
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: [redis, minio, base]
    steps:
      - name: "Get the code"
        uses: actions/checkout@v3
      - name: "Get tag version"
        run: echo "TAG_VERSION=${GITHUB_REF#refs/tags/v*}" >> $GITHUB_ENV
      - name: "Set up QEMU"
        uses: docker/setup-qemu-action@v2
      - name: "Set up Docker Buildx"
        uses: docker/setup-buildx-action@v2
      - name: "Log in to DockerHub"
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: "Build container image"
        uses: docker/build-push-action@v3
        with:
          push: true
          file: docker/${{ matrix.image }}.dockerfile
          build-args: FAASM_VERSION=${{ env.TAG_VERSION }}
          context: .
          tags: faasm/${{ matrix.image }}:${{ env.TAG_VERSION }}

  build-dep-on-base-images:
    needs: build-dep-free-images
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: [cli, upload, worker]
    steps:
      - name: "Get the code"
        uses: actions/checkout@v3
      - name: "Get tag version"
        run: echo "TAG_VERSION=${GITHUB_REF#refs/tags/v*}" >> $GITHUB_ENV
      - name: "Set up QEMU"
        uses: docker/setup-qemu-action@v2
      - name: "Set up Docker Buildx"
        uses: docker/setup-buildx-action@v2
      - name: "Log in to DockerHub"
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: "Build container image"
        uses: docker/build-push-action@v3
        with:
          push: true
          file: docker/${{ matrix.image }}.dockerfile
          build-args: |
            FAASM_VERSION=${{ env.TAG_VERSION }}
            FAASM_SGX_MODE=Disabled
          context: .
          tags: faasm/${{ matrix.image }}:${{ env.TAG_VERSION }}

  build-base-sgx:
    needs: build-dep-free-images
    runs-on: ubuntu-latest
    strategy:
      matrix:
        sgx-mode: [[-sgx, Hardware], [-sgx-sim, Simulation]]
    steps:
      - name: "Get the code"
        uses: actions/checkout@v3
      - name: "Get tag version"
        run: echo "TAG_VERSION=${GITHUB_REF#refs/tags/v*}" >> $GITHUB_ENV
      - name: "Set up QEMU"
        uses: docker/setup-qemu-action@v2
      - name: "Set up Docker Buildx"
        uses: docker/setup-buildx-action@v2
      - name: "Log in to DockerHub"
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: "Build container image"
        uses: docker/build-push-action@v3
        with:
          push: true
          file: docker/base-sgx.dockerfile
          build-args: |
            FAASM_VERSION=${{ env.TAG_VERSION }}
            FAASM_SGX_MODE=${{ matrix.sgx-mode[1] }}
          context: .
          tags: faasm/base${{ matrix.sgx-mode[0] }}:${{ env.TAG_VERSION }}

  build-worker-cli-sgx:
    needs: build-base-sgx
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: [worker, cli]
        sgx-mode: [[-sgx, Hardware], [-sgx-sim, Simulation]]
    steps:
      - name: "Get the code"
        uses: actions/checkout@v3
      - name: "Get tag version"
        run: echo "TAG_VERSION=${GITHUB_REF#refs/tags/v*}" >> $GITHUB_ENV
      - name: "Work out the right docker tag"
        run: echo "DOCKER_TAG=${GITHUB_REF#refs/tags/v*}" >> $GITHUB_ENV
      - name: "Set up QEMU"
        uses: docker/setup-qemu-action@v2
      - name: "Set up Docker Buildx"
        uses: docker/setup-buildx-action@v2
      - name: "Log in to DockerHub"
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: "Build container image"
        uses: docker/build-push-action@v3
        with:
          push: true
          file: docker/${{ matrix.image }}.dockerfile
          build-args: |
            FAASM_VERSION=${{ env.TAG_VERSION }}
            FAASM_SGX_PARENT_SUFFIX=${{ matrix.sgx-mode[0] }}
            FAASM_SGX_MODE=${{ matrix.sgx-mode[1] }}
          context: .
          tags: faasm/${{ matrix.image }}${{ matrix.sgx-mode[0] }}:${{ env.TAG_VERSION }}
