name: Tests

# Note - the credentials for Docker in here are pulled from the repo's secrets
# https://github.com/lsds/Faasm/settings/secrets

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - gh-actions

jobs:
  build:
    runs-on: ubuntu-18.04
    env:
      DOCKER_BUILDKIT: 1
    steps:
      - uses: actions/checkout@v2
      - name: "Set up docker tag"
        shell: bash
        run: echo "##[set-output name=tag;]$(echo ${GITHUB_REF//\//-})"
        id: get_tag
      - name: "Print Docker tag"
        run: echo "DOCKER TAG = ${{ steps.get_tag.outputs.tag }}"
      - uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: faasm/testing
          dockerfile: docker/testing.dockerfile
          always_pull: true
          push: $${{ secrets.DOCKER_PASSWORD }} # only pushes if we were given the secret
          tags: ${{ steps.get_tag.outputs.tag }}
          build_args: FAASM_VERSION=0.1.2
      - name: "Create a docker network"
        run: docker network create -d bridge test-net
      - name: "Stop redis container"
        run: docker stop redis | true
      - name: "Run the redis container"
        run: docker run -d --name redis --net=test-net --rm faasm/redis:0.1.2
      - name: "Run the testing container"
        run: >
          docker run --privileged --net=test-net
          -e CGROUP_MODE=on
          -e HOST_TYPE=ci
          -e REDIS_STATE_HOST=redis
          -e REDIS_QUEUE_HOST=redis
          -e LOG_LEVEL=info
          -e THREADS_PER_WORKER=5
          faasm/testing:${{ steps.get_tag.outputs.tag }}
          /usr/local/code/faasm/bin/ci_run.sh
