name: Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  formatting:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-20.04
    container:
      image: faasm/cli:0.5.3
    defaults:
      run:
        working-directory: /usr/local/code/faasm
    steps:
      - name: "Fetch ref"
        run: git fetch origin ${GITHUB_REF}:ci-branch
      - name: "Check out branch"
        run: git checkout --force ci-branch
      # --- Formatting checks ---
      - name: "Python formatting check"
        run: ./bin/check_black.sh
      # Uncomment when all formatting done
      - name: "Run C/C++ formatting"
        run: ./bin/run_clang_format.sh
      - name: "Check C/C++ formatting changes"
        run: git diff --exit-code
      - name: "Check weakref is actuall there"
        run: "ls -al /usr/local/faasm/runtime_root/lib/python3.8/weakref.py"

  build:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-20.04
    env:
      CGROUP_MODE: off
      NETNS_MODE: off
      HOST_TYPE: ci
      REDIS_STATE_HOST: redis
      REDIS_QUEUE_HOST: redis
      LOG_LEVEL: debug
      MAX_FAASLETS: 5
    container:
      image: faasm/cli:0.5.3
    defaults:
      run:
        working-directory: /usr/local/code/faasm
    services:
      redis:
        image: faasm/redis:0.5.3
        ports:
          - 6379:6379
    steps:
      # --- Environment ---
      - name: "Directory permissions"
        run: chown -R root:root /usr/local/faasm
      # --- Check out code ---
      - name: "Fetch ref"
        run: git fetch origin ${GITHUB_REF}:ci-branch
      - name: "Check out branch"
        run: git checkout --force ci-branch
      - name: "Log commits"
        run: git log -3
      # --- Cache ---
      - name: "Configure build cache"
        uses: actions/cache@v2
        with:
          path: /usr/local/faasm/object
          key: ${{ runner.os }}-cache
      # --- Code build ---
      - name: "Build dev tools"
        run: inv -r faasmcli/faasmcli dev.tools --build Release
      # --- WASM compilation ---
      - name: "Compile libraries"
        run: inv -r faasmcli/faasmcli libs.toolchain --clean
      - name: "Compile demo code"
        run: inv -r faasmcli/faasmcli compile.user demo
      - name: "Compile errors code"
        run: inv -r faasmcli/faasmcli compile.user errors
      - name: "Compile MPI code"
        run: inv -r faasmcli/faasmcli compile.user mpi
      - name: "Compile Python function"
        run: inv -r faasmcli/faasmcli compile python py_func
      - name: "Compile OMP functions"
        run: inv -r faasmcli/faasmcli compile.user omp
      # --- Environment set-up ---
      - name: "Run codegen"
        run: inv -r faasmcli/faasmcli codegen.local
      - name: "Run python codegen"
        run: inv -r faasmcli/faasmcli python.codegen
      - name: "Copy Python functions into place"
        run: inv -r faasmcli/faasmcli upload.user python --py --local-copy
      # --- Test run ---
      - name: "Run the Python language check"
        run: inv -r faasmcli/faasmcli run python lang_test
      - name: "Run the the numpy check"
        run: inv -r faasmcli/faasmcli run python numpy_test
      - name: "Run the tests"
        run: /build/faasm/bin/tests
