name: Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  formatting:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-20.04
    container:
      image: faasm/cli:0.5.15
    defaults:
      run:
        working-directory: /usr/local/code/faasm
    steps:
      - name: "Build the targets to update compile commands and dependencies"
        run: inv -r faasmcli/faasmcli dev.tools --build Release
      # --- Formatting checks ---
      - name: "Ensure all Python deps up-to-date"
        run: pip3 install -r faasmcli/requirements.txt
      - name: "Python formatting check"
        run: ./bin/check_python.sh
      - name: "Run C/C++ formatting"
        run: ./bin/run_clang_format.sh
      - name: "Check C/C++ formatting changes"
        run: git diff --exit-code
      - name: "Run C/C++ linter"
        run: ./bin/run_clang_tidy.sh

  cpp-funcs:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-20.04
    container:
      image: faasm/cpp-sysroot:0.0.24
    defaults:
      run:
        working-directory: /__w/faasm/faasm/clients/cpp
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v2
      - name: "CPP submodule"
        run: "git submodule update --init clients/cpp"
        working-directory: /__w/faasm/faasm
      - name: "Build C++ functions"
        run: inv func.local
      - name: "Build libfake"
        run: inv libfake
      - name: "Upload cpp wasm"
        uses: actions/upload-artifact@v2
        with:
          name: cpp-wasm
          path: /usr/local/faasm/wasm
      - name: "Upload fake lib wasm"
        uses: actions/upload-artifact@v2
        with:
          name: libfake-wasm
          path: /usr/local/faasm/runtime_root/lib/fake

  py-funcs:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-20.04
    container:
      image: faasm/cpython:0.0.12
    defaults:
      run:
        working-directory: /__w/faasm/faasm/clients/python
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v2
      - name: "Python submodule"
        run: "git submodule update --init clients/python"
        working-directory: /__w/faasm/faasm
      - name: "Build CPython function"
        run: inv func
      - name: "Put Python functions in place"
        run: inv func.uploadpy --local
      - name: "Upload python wasm"
        uses: actions/upload-artifact@v2
        with:
          name: py-wasm
          path: /usr/local/faasm/wasm/python
      - name: "Upload python functions"
        uses: actions/upload-artifact@v2
        with:
          name: py-funcs
          path: /usr/local/faasm/shared_store

  build:
    if: github.event.pull_request.draft == false
    needs: [cpp-funcs, py-funcs]
    runs-on: ubuntu-20.04
    env:
      CGROUP_MODE: off
      HOST_TYPE: ci
      LOG_LEVEL: info
      MAX_FAASLETS: 5
      NETNS_MODE: off
      REDIS_QUEUE_HOST: redis
      REDIS_STATE_HOST: redis
    container:
      image: faasm/cli:0.5.15
    defaults:
      run:
        working-directory: /usr/local/code/faasm
    services:
      redis:
        image: faasm/redis:0.5.15
        ports:
          - 6379:6379
    steps:
      - name: "Update submodules before fetching"
        run: git submodule update --init
      - name: "Fetch ref"
        run: git fetch origin ${GITHUB_REF}:ci-branch
      - name: "Check out branch"
        run: git checkout --force ci-branch
      - name: "Update faabric submodule"
        run: git submodule update faabric
      # --- Get artifacts from other steps ---
      - name: "Download CPP wasm"
        uses: actions/download-artifact@v2
        with:
          name: cpp-wasm
          path: /usr/local/faasm/wasm
      - name: "Download libfake wasm"
        uses: actions/download-artifact@v2
        with:
          name: libfake-wasm
          path: /usr/local/faasm/runtime_root/lib/fake
      - name: "Download Python wasm"
        uses: actions/download-artifact@v2
        with:
          name: py-wasm
          path: /usr/local/faasm/wasm/python
      - name: "Download Python funcs"
        uses: actions/download-artifact@v2
        with:
          name: py-funcs
          path: /usr/local/faasm/shared_store
      # --- CPU information ---
      - name: "CPU info"
        run: cat /proc/cpuinfo
      - name: "Get CPU model name"
        run: echo "CPU_MODEL=$(./bin/print_cpu.sh)" >> $GITHUB_ENV
      - name: "Print CPU model"
        run: echo "${{ env.CPU_MODEL}}"
      # --- Cache ---
      - name: "Configure machine code cache"
        uses: actions/cache@v2
        with:
          path: /usr/local/faasm/object
          key: ${{ env.CPU_MODEL }}-machine-code
      # --- Code build ---
      - name: "Build dev tools"
        run: inv -r faasmcli/faasmcli dev.tools --build Release
      # --- Environment set-up ---
      - name: "Run codegen"
        run: inv -r faasmcli/faasmcli codegen.local
      - name: "Run python codegen"
        run: inv -r faasmcli/faasmcli python.codegen
      - name: "Clear existing pyc files"
        run: inv -r faasmcli/faasmcli python.clear-runtime-pyc
      # --- Test run ---
      - name: "Run the tests"
        run: /build/faasm/bin/tests
