name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, ready_for_review]

defaults:
  run:
    shell: bash

jobs:
  # Cancel previous running actions for the same PR
  cancel_previous:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Workflow Action
        uses: styfle/cancel-workflow-action@0.11.0

  formatting:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    container:
      image: faasm/cli:0.8.15
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v3
        with:
          submodules: true
        # We need to set the safe git directory as formatting relies on git-ls
        # See actions/checkout#766
      - name: "Set the GH workspace as a safe git directory"
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      # Formatting checks
      - name: "Code formatting check"
        run: ./bin/inv_wrapper.sh format-code

  docs:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    container:
      image: faasm/cli:0.8.15
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: "Build docs"
        run: ./bin/inv_wrapper.sh docs

  cpp-funcs:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    container:
      image: faasm/cpp-sysroot:0.1.7
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: "Build C++ functions"
        run: ./bin/inv_wrapper.sh func.local
        working-directory: ${{ github.workspace }}/clients/cpp
      - name: "Build libfake"
        run: ./bin/inv_wrapper.sh libfake
        working-directory: ${{ github.workspace }}/clients/cpp
      - name: "Upload cpp wasm"
        uses: actions/upload-artifact@v3.1.0
        with:
          name: cpp-wasm
          path: /usr/local/faasm/wasm
      - name: "Upload fake lib wasm"
        uses: actions/upload-artifact@v3.1.0
        with:
          name: libfake-wasm
          path: /usr/local/faasm/runtime_root/lib/fake

  py-funcs:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    container:
      image: faasm/cpython:0.1.1
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: "Build CPython function"
        run: inv func
        working-directory: ${{ github.workspace }}/clients/python
      - name: "Put Python functions in place"
        run: inv func.upload-all --local
        working-directory: ${{ github.workspace }}/clients/python
      - name: "Upload python wasm"
        uses: actions/upload-artifact@v3.1.0
        with:
          name: py-wasm
          path: /usr/local/faasm/wasm/python
      - name: "Upload python functions"
        uses: actions/upload-artifact@v3.1.0
        with:
          name: py-funcs
          path: /usr/local/faasm/shared

  conan-cache:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    container:
      image: faasm/cli:0.8.15
    defaults:
      run:
        working-directory: /usr/local/code/faasm
    steps:
      - name: "Checkout code"
        run: pwd && git fetch origin ${GITHUB_REF}:ci-branch && git checkout --force ci-branch && git submodule update --init
      - name: "Conan cache"
        uses: faasm/conan-cache-action@v1

  tests:
    if: github.event.pull_request.draft == false
    needs: [cpp-funcs, py-funcs, conan-cache]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sanitiser: [None, Address, Thread, Undefined, Leak]
    env:
      CGROUP_MODE: off
      HOST_TYPE: ci
      LOG_LEVEL: info
      NETNS_MODE: off
      REDIS_QUEUE_HOST: redis
      REDIS_STATE_HOST: redis
      ASAN_OPTIONS: "halt_on_error=1:quarantine_size_mb=16"
      LSAN_OPTIONS: "suppressions=/usr/local/code/faasm/leak-sanitizer-ignorelist.txt"
      TSAN_OPTIONS: "history_size=0 halt_on_error=1 suppressions=/usr/local/code/faasm/thread-sanitizer-ignorelist.txt flush_memory_ms=5000"
      UBSAN_OPTIONS: "print_stacktrace=1:halt_on_error=1"
    container:
      image: faasm/cli:0.8.15
    services:
      redis:
        image: faasm/redis:0.8.15
      minio:
        image: faasm/minio:0.8.15
        env:
          MINIO_ROOT_USER: minio
          MINIO_ROOT_PASSWORD: minio123
    defaults:
      run:
        working-directory: /usr/local/code/faasm
    steps:
      - name: "Checkout code"
        run: pwd && git fetch origin ${GITHUB_REF}:ci-branch && git checkout --force ci-branch && git submodule update --init
      - name: "Conan cache"
        uses: faasm/conan-cache-action@v1
        with:
           directory: /usr/local/code/faasm
      - name: "Ping redis"
        run: redis-cli -h redis ping
      - name: "Ping minio"
        run: curl -f http://minio:9000/minio/health/live
      # Download wasm generated by previous steps
      - name: "Download CPP wasm"
        uses: actions/download-artifact@v3.0.1
        with:
          name: cpp-wasm
          path: /usr/local/faasm/wasm
      - name: "Download libfake wasm"
        uses: actions/download-artifact@v3.0.1
        with:
          name: libfake-wasm
          path: /usr/local/faasm/runtime_root/lib/fake
      - name: "Download Python wasm"
        uses: actions/download-artifact@v3.0.1
        with:
          name: py-wasm
          path: /usr/local/faasm/wasm/python
      - name: "Download Python funcs"
        uses: actions/download-artifact@v3.0.1
        with:
          name: py-funcs
          path: /usr/local/faasm/shared
      # Cache contains architecture-specific machine code
      - name: "CPU info"
        run: cat /proc/cpuinfo
      - name: "Get CPU model name"
        run: echo "CPU_MODEL=$(./bin/print_cpu.sh)" >> $GITHUB_ENV
      - name: "Print CPU model"
        run: echo "${{ env.CPU_MODEL}}"
      - name: "Configure machine code cache"
        uses: actions/cache@v2
        with:
          path: /usr/local/faasm/object
          key: ${{ env.CPU_MODEL }}-machine-code-${{ secrets.CACHE_VERSION }}
      # Codegen build without sanitisers
      - name: "Build codegen - CMake"
        run: ./bin/inv_wrapper.sh dev.cmake --clean --build Debug --sanitiser None
      - name: "Build codegen - Codegen Func"
        run: ./bin/inv_wrapper.sh dev.cc codegen_func
      - name: "Build codegen - Codegen Shared Obj"
        run: ./bin/inv_wrapper.sh dev.cc codegen_shared_obj
      # Environment set-up
      - name: "Run codegen"
        run: ./bin/inv_wrapper.sh codegen.local
      - name: "Run python codegen"
        run: ./bin/inv_wrapper.sh python.codegen
      - name: "Clear existing pyc files"
        run: ./bin/inv_wrapper.sh python.clear-runtime-pyc
      # Code build (Debug required for tests)
      - name: "Build dev tools"
        run: ./bin/inv_wrapper.sh dev.tools --clean --build Debug --sanitiser ${{ matrix.sanitiser }}
      # Test run
      - name: "Print env variables"
        run: env
      - name: "Run the tests"
        run: /build/faasm/bin/tests

  sgx-tests:
    if: github.event.pull_request.draft == false
    needs: [cpp-funcs, py-funcs, conan-cache]
    runs-on: ubuntu-latest
    env:
      CGROUP_MODE: off
      HOST_TYPE: ci
      LOG_LEVEL: info
      NETNS_MODE: off
      REDIS_QUEUE_HOST: redis
      REDIS_STATE_HOST: redis
    container:
      image: faasm/cli-sgx-sim:0.8.15
    services:
      redis:
        image: faasm/redis:0.8.15
      minio:
        image: faasm/minio:0.8.15
        env:
          MINIO_ROOT_USER: minio
          MINIO_ROOT_PASSWORD: minio123
    defaults:
      run:
        working-directory: /usr/local/code/faasm
    steps:
      - name: "Checkout code"
        run: pwd && git fetch origin ${GITHUB_REF}:ci-branch && git checkout --force ci-branch && git submodule update --init
      - name: "Conan cache"
        uses: faasm/conan-cache-action@v1
        with:
           directory: /usr/local/code/faasm
      - name: "Ping redis"
        run: redis-cli -h redis ping
      - name: "Ping minio"
        run: curl -f http://minio:9000/minio/health/live
      # Download wasm generated by previous steps
      - name: "Download CPP wasm"
        uses: actions/download-artifact@v3.0.1
        with:
          name: cpp-wasm
          path: /usr/local/faasm/wasm
      - name: "Download libfake wasm"
        uses: actions/download-artifact@v3.0.1
        with:
          name: libfake-wasm
          path: /usr/local/faasm/runtime_root/lib/fake
      - name: "Download Python wasm"
        uses: actions/download-artifact@v3.0.1
        with:
          name: py-wasm
          path: /usr/local/faasm/wasm/python
      - name: "Download Python funcs"
        uses: actions/download-artifact@v3.0.1
        with:
          name: py-funcs
          path: /usr/local/faasm/shared
      # Cache contains architecture-specific machine code
      - name: "CPU info"
        run: cat /proc/cpuinfo
      - name: "Get CPU model name"
        run: echo "CPU_MODEL=$(./bin/print_cpu.sh)" >> $GITHUB_ENV
      - name: "Print CPU model"
        run: echo "${{ env.CPU_MODEL}}"
      - name: "Configure machine code cache"
        uses: actions/cache@v2
        with:
          path: /usr/local/faasm/object
          key: ${{ env.CPU_MODEL }}-machine-code-${{ secrets.CACHE_VERSION }}
      # Code build (Debug required for tests)
      - name: "Build dev tools"
        run: ./bin/inv_wrapper.sh dev.tools --build Debug --sgx Simulation --clean
      # Environment set-up
      - name: "Run codegen"
        run: ./bin/inv_wrapper.sh codegen.local
      - name: "Run python codegen"
        run: ./bin/inv_wrapper.sh python.codegen
      - name: "Clear existing pyc files"
        run: ./bin/inv_wrapper.sh python.clear-runtime-pyc
      # Test run
      - name: "Run the tests"
        run: /build/faasm/bin/tests

  dist-tests:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    env:
        CONAN_CACHE_MOUNT_SOURCE: ~/.conan
    steps:
      - name: "Check out code"
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: "Conan cache"
        uses: faasm/conan-cache-action@v1
        with:
          directory: ${{ github.workspace }}
      # Cache contains architecture-specific machine code
      - name: "Get CPU model name"
        run: echo "CPU_MODEL=$(./bin/print_cpu.sh)" >> $GITHUB_ENV
      - name: "Print CPU model"
        run: echo "${{ env.CPU_MODEL}}"
      - name: "Configure S3 cache"
        uses: actions/cache@v2
        with:
          path: ./dev/minio/data/faasm
          key: ${{ env.CPU_MODEL }}-s3-data-${{ secrets.CACHE_VERSION }}
      - name: "Build tests"
        run: ./deploy/dist-test/build.sh
      - name: "Build and upload functions for tests"
        run: ./deploy/dist-test/upload.sh
      - name: "Run tests"
        run: ./deploy/dist-test/run.sh

  quick-start:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    env:
      PYTHON_CODEGEN: "on"
    steps:
      - name: "Check out code"
        uses: actions/checkout@v3
        with:
          submodules: true
      # Cache contains architecture-specific machine code
      - name: "Get CPU model name"
        run: echo "CPU_MODEL=$(./bin/print_cpu.sh)" >> $GITHUB_ENV
      - name: "Print CPU model"
        run: echo "${{ env.CPU_MODEL}}"
      - name: "Configure S3 cache"
        uses: actions/cache@v2
        with:
          path: ./dev/minio/data/faasm
          key: ${{ env.CPU_MODEL }}-s3-data-${{ secrets.CACHE_VERSION }}
      # Setup
      - name: "Start docker compose"
        run: docker compose up -d --scale worker=2 nginx
      # This can fail when the container isn't ready, so we want to retry
      - name: "Wait for upload server to be available"
        run: |
          (echo "Attempt 1" && docker compose exec -T upload /usr/local/code/faasm/deploy/local/wait_for_upload.sh localhost 8002) || \
          (sleep 30s && echo "Attempt 2" && docker compose exec -T upload /usr/local/code/faasm/deploy/local/wait_for_upload.sh localhost 8002) || \
          (sleep 30s && echo "Attempt 3" && docker compose exec -T upload /usr/local/code/faasm/deploy/local/wait_for_upload.sh localhost 8002) || \
          (echo "Wait for upload failed after retries" && docker compose logs upload && exit 1)
      # Function upload
      - name: "Build and upload cpp function"
        run: docker compose run -T cpp ./bin/inv_wrapper.sh func demo hello func.upload demo hello
      - name: "Build and upload python function"
        run: docker compose run -T python inv func func.upload func.uploadpy hello
      # Function invocation
      - name: "Invoke cpp function"
        run: docker compose run -T cpp ./bin/inv_wrapper.sh func.invoke demo hello | tee output_1.log
      - name: "Invoke python hello function"
        run: docker compose run -T python inv func.invoke python hello
      # Re-invocation of same function with different code after flush
      - name: "Flush workers"
        run: docker compose run -T cpp ./bin/inv_wrapper.sh func.flush
      - name: "Build echo function and upload in place of hello function"
        run: ./deploy/local/replace_hello_with_echo.sh
      - name: "Invoke cpp function"
        run: docker compose run -T cpp ./bin/inv_wrapper.sh func.invoke demo hello | tee output_2.log
      - name: "Check both outputs are different"
        run: (cmp output_1.log output_2.log && exit 1 || exit 0)
      # Print logs and finish
      - name: "docker compose logs"
        run: docker compose logs
      - name: "Stop docker compose"
        run: docker compose down
