<EnclaveConfiguration>
  <ProdID>0</ProdID>
  <ISVSVN>0</ISVSVN>
  <StackMaxSize>0x100000</StackMaxSize>
  <StackMinSize>0x4000</StackMinSize>
  <HeapMaxSize>0xD00000</HeapMaxSize>
  <HeapMinSize>0x8000</HeapMinSize>
  <HeapInitSize>0x8000</HeapInitSize>
  <ReservedMemMaxSize>0x100000</ReservedMemMaxSize>
  <ReservedMemExecutable>1</ReservedMemExecutable>
  <TCSNum>10</TCSNum>
  <TCSMaxNum>20</TCSMaxNum>
  <TCSMinPool>5</TCSMinPool>
  <TCSPolicy>1</TCSPolicy>
  <DisableDebug>0</DisableDebug>
  <MiscSelect>0</MiscSelect>
  <MiscMask>0xFFFFFFFF</MiscMask>
</EnclaveConfiguration>